* {
	font-family: 'JetBrains Mono', monospace;
}

#app {
	background-color: lightseagreen;
	min-height: 100vh;
}

#gallery {
	padding-bottom: 25px;
}

#button-addon2,
.btn-close {
	position: relative;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 2.5em;
	display: inline-block;
	border-radius: 6em;
	transition: all 0.2s;
	border: none;
	font-family: inherit;
	font-weight: 500;
	color: black;
	background-color: white;
}

#button-addon2:hover,
.btn-close:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#button-addon2:active,
.btn-close:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#button-addon2::after,
.btn-close::after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

#button-addon2::after {
	background-color: #fff;
}

#button-addon2:hover::after,
.btn-close:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
