* {
	font-family: 'JetBrains Mono', monospace;
}

#app {
	background-color: lightseagreen;
	min-height: 100vh;
}

#gallery {
	padding-bottom: 25px;
}

#busqueda,
.form-control {
	min-width: 80%;
}

#button-addon2 {
	max-width: 20%;
}

#button-addon2,
.btn-close,
#busqueda {
	position: relative;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 0.5em;
	display: inline-block;
	border-radius: 25px;
	transition: all 0.2s;
	border: none;
	font-family: inherit;
	font-weight: 500;
	color: black;
	background-color: white;
}

#button-addon2:hover,
.btn-close:hover,
#busqueda:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#button-addon2:active,
.btn-close:active,
#busqueda:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* #button-addon2::after,
.btn-close::after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

#button-addon2::after {
	background-color: #fff;
}

#button-addon2:hover::after,
.btn-close:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
} */

/* #busqueda {
	border: none;
	border-radius: 15px;
	padding: 15px;
	background-color: #fff;
	box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
	font-size: medium;
	font-weight: bold;
}

#busqueda:focus {
	outline-color: white;
	place-content: 'Enter your message!';
} */
